body {
    font-family: Arial, sans-serif;
    background-color: #282828;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #fff;
    color: #282828;
  }
  
  .navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .search-box {
    display: flex;
    align-items: center;
  }
  
  .search-box input {
    background-color: #444;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
  }
  
  .search-icon {
    margin-left: 10px;
    color: white;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: white;
    font-size: 1.5em;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .mode-toggle .icon {
    font-size: 1.7em;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 15px;
    position: fixed;
    height: 100%;
    top: 60px; /* Adjusted for the Navbar */
  }
  
  .dashboard {
    margin-left: 270px;
    margin-top: 80px;
    padding: 20px;
  }
  
  .attendance-status, .logs-requests {
    background-color: #444;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: orange;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table th, table td {
    border: 1px solid #666;
    padding: 10px;
  }
  
  body.dark-mode .navbar {
    background-color: #eee;
  }
  
  body.dark-mode .sidebar {
    background-color: #ddd;
  }
  
  body.dark-mode .attendance-status, 
  body.dark-mode .logs-requests {
    background-color: #ccc;
  }
  
  body.dark-mode input, 
  body.dark-mode table th, 
  body.dark-mode table td {
    color: #282828;
  }
  